<main id="main" class="main">
  <div class="search-bar">
    <form class="search-form d-flex align-items-center" method="GET" action="">
      <input
        type="text"
        name="name"
        placeholder="Search"
        title="Enter search keyword"
      />
      <button type="submit" title="Search"><i class="bi bi-search"></i></button>
    </form>
  </div><!-- End Search Bar -->
<div class="dropdown ml-4">
                                <button class="btn border dropdown-toggle" type="button" id="triggerId" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Sort by
                                        </button>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="triggerId" style="">
                                    <a class="dropdown-item" href="{{originalUrl}}&sort=low">Price (Low) </a>
                                    <a class="dropdown-item" href="{{originalUrl}}&sort=high">Price (High)</a>
                                </div>
                            </div>
 <!-- Price range-->

      <nav class="header-nav ms-auto">
        <ul class="d-flex align-items-center">

          <li class="nav-item d-block d-lg-none">
            <a class="nav-link nav-icon search-bar-toggle">
              <i class="bi bi-search"></i>
            </a>
          </li><!-- End Search Icon-->
  <section id="menu" class="menu">
    <div class="container" data-aos="fade-up">

      <div class="section-header">
        <h2>Our Menu</h2>
        <p>Check Our <span>Yummy Menu</span></p>
      </div>

      <ul
        class="nav nav-tabs d-flex justify-content-center"
        data-aos="fade-up"
        data-aos-delay="200"
      >

<li class="nav-item">
          <a
            href="products_menu/tim-kiem"
            class="nav-link active show"
            data-bs-toggle="tab"
            data-bs-target="#menu-search"
          >
            <h4>Tìm kiếm</h4>
          </a>
        </li><!-- End tab nav item -->

        <li class="nav-item">
          <a
            href="products_menu/com"
            class="nav-link"
            data-bs-toggle="tab"
            data-bs-target="#menu-starters"
          >
            <h4>Cơm</h4>
          </a>
        </li><!-- End tab nav item -->

        <li class="nav-item">
          <a
            href="products_menu/mi"
            class="nav-link"
            data-bs-toggle="tab"
            data-bs-target="#menu-breakfast"
          >
            <h4>Mì</h4>
          </a>
        </li><!-- End tab nav item -->

        <li class="nav-item">
          <a class="nav-link" data-bs-toggle="tab" data-bs-target="#menu-lunch">
            <h4>Nước</h4>
          </a>
        </li><!-- End tab nav item -->

        <li class="nav-item">
          <a
            href="products_menu/khac"
            class="nav-link"
            data-bs-toggle="tab"
            data-bs-target="#menu-dinner"
          >
            <h4>Khác</h4>
          </a>
        </li><!-- End tab nav item -->

      </ul>

      <div class="tab-content" data-aos="fade-up" data-aos-delay="300">
<div class="tab-pane fade active show" id="menu-search">

          <div class="tab-header text-center">
            <p>Menu</p>
            <h3>Tìm kiếm</h3>
          </div>
          <div class="row gy-5" id="TimKiem">
            
          </div>
        </div><!-- End Starter Menu Content -->

        <div class="tab-pane fade" id="menu-starters">

          <div class="tab-header text-center">
            <p>Menu</p>
            <h3>Cơm</h3>
          </div>
          <div class="row gy-5">
            {{#each products_menu_Com}}
              <div class="col-lg-4 menu-item">
                <a href="products/{{ID}}">
                  <div>
                    <img
                      src="/assets_menu/img/menu/{{IMAGE}}"
                      class="menu-img img-fluid"
                      alt=""
                    />
                  </div>
                  <div>
                    <h4>{{NAME}}</h4>

                    <p class="price">
                      {{PRICE}}
                      VNĐ
                    </p>
                  </div>
                </a>
              </div><!-- Menu Item -->
            {{/each}}
          </div>
        </div><!-- End Starter Menu Content -->

        <div class="tab-pane fade" id="menu-breakfast">

          <div class="tab-header text-center">
            <p>Menu</p>
            <h3>Mì</h3>
          </div>

          <div class="row gy-5">

            {{#each products_menu_Mi}}
              <div class="col-lg-4 menu-item">
                <a href="products/{{ID}}">
                  <div>
                    <img
                      src="/assets_menu/img/menu/{{IMAGE}}"
                      class="menu-img img-fluid"
                      alt=""
                    />
                  </div>
                  <div>
                    <h4>{{NAME}}</h4>

                
                    <p class="price">
                      {{PRICE}}
                      VNĐ
                    </p>
                  </div>
                </a>
              </div><!-- Menu Item -->
            {{/each}}

          </div>
        </div><!-- End Breakfast Menu Content -->

        <div class="tab-pane fade" id="menu-lunch">

          <div class="tab-header text-center">
            <p>Menu</p>
            <h3>Nước</h3>
          </div>

          <div class="row gy-5">

            {{#each products_menu_Nuoc}}
              <div class="col-lg-4 menu-item">
                <a href="products/{{ID}}">
                  <div>
                    <img
                      src="/assets_menu/img/menu/{{IMAGE}}"
                      class="menu-img img-fluid"
                      alt=""
                    />
                  </div>
                  <div>
                    <h4>{{NAME}}</h4>

                    <p class="price">
                      {{PRICE}}
                      VNĐ
                    </p>
                  </div>
                </a>
              </div><!-- Menu Item -->
            {{/each}}

          </div>
        </div><!-- End Lunch Menu Content -->

        <div class="tab-pane fade" id="menu-dinner">

          <div class="tab-header text-center">
            <p>Menu</p>
            <h3>Khác</h3>
          </div>

          <div class="row gy-5">

            {{#each products_menu_Khac}}
              <div class="col-lg-4 menu-item">
                <a href="products/{{ID}}">
                  <div>
                    <img
                      src="/assets_menu/img/menu/{{IMAGE}}"
                      class="menu-img img-fluid"
                      alt=""
                    />
                  </div>
                  <div>
                    <h4>{{NAME}}</h4>

                 
                    <p class="price">
                      {{PRICE}}
                      VNĐ
                    </p>
                  </div>
                </a>
              </div><!-- Menu Item -->
            {{/each}}

          </div>
        </div><!-- End Dinner Menu Content -->

      </div>
{{!-- <nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item"><a class="page-link" href="#">Previous</a></li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item"><a class="page-link" href="#">Next</a></li>
  </ul>
</nav> --}}

     <ul id="pagination-demo" class="pagination-sm"></ul>
    </div>
  </section><!-- End Menu Section -->
</main>