
<main id="main" class="main">
    <div class="search-bar">
        <form class="search-form d-flex align-items-center" method="GET" action="">
            <input
                    type="text"
                    name="name"
                    placeholder="Search"
                    title="Enter search keyword"
            />
            <button type="submit" title="Search"><i class="bi bi-search"></i></button>
        </form>
    </div><!-- End Search Bar -->
    <div class="dropdown ml-4">
        <button class="btn border dropdown-toggle" type="button" id="triggerId" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Sort by
        </button>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="triggerId" style="">
            <a class="dropdown-item" href="{{originalUrl}}&sort=name">Name </a>
            <a class="dropdown-item" href="{{originalUrl}}&sort=date">Date</a>
        </div>
    </div>

    <div class="d-flex flex-row bd-highlight mt-3 mr-2 justify-content-between">
        <h5 class="ml-3">ACCOUNT MANAGEMENT BOARD</h5>
        <a class="btn btn-dark" href="/admin/edit_accounts/add" role="button">
            <i class="fa fa-user-plus" aria-hidden="true"></i>
            Add Account
        </a>
    </div>

    <div class="p-2 bg-muted">
        <div class="card h-100 mb-100 shadow">
            <h5 class="card-header bg-white text-light d-flex justify-content-between">
                Accounts
            </h5>
            <div class="card-body">
                <table id="example" class="display">
                    <thead>
                    <tr>
                        <th scope="col">
                            ID
                        </th>
                        <th scope="col">
                            Phone number
                        </th>
                        <th scope="col">
                            Created date
                        </th>
                        <th scope="col">
                            Status
                        </th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#each list_accounts}}
                        <tr>
                            <th scope="row">
                                {{ID}}
                            </th>
                            <td>
                                {{PHONENUMBER}}
                            </td>
                            <td>
                                {{CREATEDDATE}}
                            </td>
                            <td>
                                {{#when ACTIVE 'eq' 1}}
                                    <i class="fa fa-unlock" style="color:green;" aria-hidden="true"></i>
                                {{else}}
                                    <i class="fa fa-lock" style="color:red;" aria-hidden="true"></i>
                                {{/when}}
                            </td>
                            <td class="text-right">
                                <a class="btn btn-sm btn-dark" href="/admin/edit_accounts/{{ID}}" role="button" title="Edit Accounts">
                                   <i class="fas fa-user-cog"></i>
                                </a>
                            </td>
                        </tr>
                    {{/each}}
                    </tbody>
                    <tfoot></tfoot>
                </table>
            </div>
        </div>
    </div>

</main>
